/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* --main-color: rgb(239, 209, 169); */
    
    --main-color: rgb(134, 75, 7);
    --second-color: rgb(236, 158, 67);
}
section{
    padding:50xp 10%
}
img{
    width: 100%
}
*::selection{
    color:#fff;
    background: var(--second-color);
}
header{
    position : fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 10%;
    transition: 0.2s;

}
header.active{
    background: var(--main-color);
    box-shadow: 0 0 4px var(--main-color);
}
header.active .logo{
    color: #fff;
}
header.active .navbar a{
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;

}
.logo img{
    width: 70px;
    margin-right: 10px;
}
.navbar{
    display: flex;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    font-weight: 500;
}
.navbar a:hover{
    color: #fff;
    background: var(--second-color);
    border-radius: 4px;
}
#menu-icon{
    font-size:24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.home{
    width:100%;
    min-height:100vh ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(images/hand\ made\ wallpaper.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    gap: 1rem;
} 
.home-text{
    
    position: absolute;
    left: 120px; 
    
}
.home-img{
    width: 470px;
    position: absolute;
    right: 100px; 
    
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color)
}
.home-text h1{
    font-size: 4rem;
    color: var(--main-color);

}
.home-text p{
    margin: 0.5rem 0 1.4rem 
}
.btn{
    padding: 10px 20px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color:var(--second-color);
    font-weight: 500;
}
.btn:hover{
    letter-spacing: 2px;
    color: #fff;
    background: var(--second-color);
}
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(images/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about h1{
    font-size:2.5rem ;
    color: #fff;
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-transform: uppercase;

}
.about-container{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    align-items: center;
    border-radius: 10px;
    border-top: 6px solid var(--main-color);
    padding: 20px;
    gap: 2rem;
    flex: 1 1 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.about-container h3 {
    font-size: 2rem;
    font-weight: 500;
    color:var(--second-color);
    margin: 0 0 0.5rem;
}
.about-container h2 {
    font-size: 1.2rem;
    color: var(--main-color);
    letter-spacing: 1px;
    
}

.kitchen-title h2{
    font-size:2.5rem ;
    color: var(--second-color);
    margin-bottom: rem;
    margin-top: rem;
    text-transform: uppercase;
}
.kitchen{ 
    text-align: center;
    width:100%;
    min-height:100vh ;
    flex-wrap: wrap;
    background-color:rgb(239, 209, 169);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
  
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes the full height of the viewport */

  }
  
  .plate {
    width: 700px;
    height: 700px;
    background-color: #f1e7e7;
    border: 70px solid #d3cfcf;
    border-radius: 50%;
    border-style:dashed;
    /* border-style:double; */
    box-shadow: 0 0 100px rgba(134, 75, 7, 0.2); 
    transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg); 
  }

.burger-bun{
	position: absolute;
	margin: auto;
	height: 356px;
	width: 450px;
	top: 42px;
	left: 0;
	right: 0;
}
.bun-top{
	top: -260px;
	width: 300px;
	height: 300px;
	position: relative;
	margin: auto;
	background-color: #fed;
	border: 12px solid #f8af6c;
    border-top: none;
	border-radius: 50% 50% 50% 50%;
	transform: perspective(20em) rotateX(45deg);
}
.bun-border{
    top: 100px;
	position: relative;
	width: 320px;
	height: 300px;
	margin: auto;
	background-color: #f8af6c;
	border-radius: 5px;
    border-radius: 50% 50% 50% 50%; 
	transform: rotateX(10deg);
    box-shadow: 0 0 30px rgba(134, 75, 7, 0.2); 
}
